<!--  -->
<!-- display favour just created -->

<div class="card blue-card">
  <div class="card-top">
    <div class="avatar-medium">
      <%= image_tag("default_avatar_hoodi", alt: "logo", class: "avatar-medium") %>
    </div>
    <div class="user-name">
      <h2><%= favour.user.first_name %></h2>
      <div class="time time-favour">
        <p><%= Time.now.utc.hour - favour.created_at.hour %> hrs - </p>
        <%= image_tag("image_after_hour_card", alt: "time", class: "logo") %>
      </div>
    </div>
  </div>
  <div class="option-menu">
    <%= image_tag("dropdown_menu_card", class: "dropdown-card") %>
  </div>
  <!-- end card-top -->
  <h1 class="title blue-title">is asking for some help</h1>
  <div class="card-content">
    <!-- <p><%=favour.title %></p> -->
    <p><%=favour.content%></p>
  </div><!-- end card-content -->
  <div class="card-footer">
    <div class="footer-link">
      <%= link_to root_path do %>
        <%= image_tag("images.handlove", alt: "logo", class: "logo-footer")%> Help post
      <% end %>
    </div>
    <div class="footer-link">
      <%= link_to root_path do %>
        <%= image_tag("comment", alt: "logo", class: "logo-footer")%> Comment
      <% end %>
    </div>
    <div class="footer-link">
      <%= link_to root_path do %>
        <%= image_tag("map_icon", alt: "logo", class: "logo-footer-mapzer")%> Location
      <% end %>
    </div>
  </div><!-- end card-footer -->
  <%= render 'responses/form', favour: @favour, response: @response %>
</div><!-- end card -->
