<!--  -->
<!-- display favour just created -->

<div class="card blue-card">
  <div class="card-top">
    <div class="avatar-medium">
      <%= cl_image_tag(favour.user.photo, {class: "avatar-medium"}) %>
    </div>
    <div class="user-name">
      <h2><%= favour.user.first_name %></h2>
      <div class="time time-favour">
        <p><%= Time.now.utc.hour - favour.created_at.hour %> hrs - </p>
        <%= image_tag("image_after_hour_card.png", alt: "time", class: "logo") %>
      </div>
    </div>
  </div>
  <div class="option-menu">
    <%= image_tag("dropdown_menu_card.png", class: "dropdown-card") %>
  </div>
  <!-- end card-top -->
  <h1 class="title blue-title">is asking for some help</h1>
  <div class="card-content">
    <!-- <p><%=favour.title %></p> -->
    <p><%=favour.content%></p>
  </div><!-- end card-content -->
  <div class="card-footer">
    <div class="footer-link">
      <%= link_to root_path do %>
        <%= image_tag("handlove.png", alt: "logo", class: "logo-footer")%> Help post
      <% end %>
    </div>
    <div class="footer-link" id="comment">
      <%= link_to root_path, class: "comment-button" do %>
        <%= image_tag("comment.png", alt: "logo", class: "logo-footer")%> Comment,
      <% end %>
    </div>
    <div class="footer-link footer-link-localisation">
      <a href="/" lat="<%= favour.user.latitude %>" lng="<%= favour.user.longitude %>" data-userimage="<%= favour.user.photo %>">
        <%= image_tag("map_icon.svg", alt: "logo", class: "logo-footer-mapzer")%> Location
      </a>
    </div>
  </div><!-- end card-footer -->

</div><!-- end card -->
<!-- <div class="new-response"> -->
<!-- </div> -->
<div class="response hidden">

  <div id="response-display">
    <% if favour.responses.blank? %>
      Leave a response
    <% else %>
      <%favour.responses.each do |response_object|%>
      <div class="response-content">
          <div class="avatar-medium">
      <%= cl_image_tag(User.find(response_object.user_id).photo, {class: "avatar-medium"}) %>
    </div>
        <div class="text-comment">
          <strong><%= User.find(response_object.user_id).first_name.capitalize %>: </strong>
        <%= render('responses/show', { response: response_object }) %>
        </div>
        <div class="time-response">
          <%= Time.now.utc.hour - response_object.created_at.hour %> hrs
        </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="new-response">
    <% postable = favour %>
    <%= render('responses/form', { postable: postable, response: @response }) %>
  </div>

</div>
