<div class="main-link">
  <%= link_to root_path do %>
    <ul class="profile-link">
      <li>
        <%= cl_image_tag(current_user.photo, class: "avatar-small") %>
      </li>
      <li>
        <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="message-link">
      <li>
        <%= image_tag('message_envlop.png') %>
      </li>
      <li>
        Messenger
      </li>
    </ul>
  <% end %>
</div>
<div class="shortcuts">
  <h1>Shortcuts</h1>
  <%= link_to root_path do %>
    <ul class="perimeter-link">
      <li>
        <%= image_tag('perimeter.png') %>
      </li>
      <li>
        Perimeter
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="posts-link">
      <li>
        <%= image_tag('card_hoodi_pink.png') %>
      </li>
      <li>
        Local events
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="posts-link">
      <li>
        <%= image_tag('card_hoodi_blue.png') %>
      </li>
      <li>
        Neighbors favors
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="posts-link">
      <li>
        <%= image_tag('card_hoodi_yellow.png') %>
      </li>
      <li>
        Area infos
      </li>
    </ul>
  <% end %>
</div>
<div class="explore">
  <h1>Explore</h1>
  <%= link_to root_path do %>
    <ul class="explore-link">
      <li>
        <%= image_tag('event.png') %>
      </li>
      <li>
        Events
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="explore-link">
      <li>
        <%= image_tag('neighbor-food.png') %>
      </li>
      <li>
        Neighbor Food
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="explore-link">
      <li>
        <%= image_tag('saved.png') %>
      </li>
      <li>
        Saved
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="explore-link">
      <li>
        <%= image_tag('jobs.png') %>
      </li>
      <li>
        Jobs
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="explore-link">
      <li>
        <%= image_tag('local_discount.png') %>
      </li>
      <li>
        Local Discount
      </li>
    </ul>
  <% end %>
  <%= link_to root_path do %>
    <ul class="explore-link">
      <li>
        <%= image_tag('neighbors_action.png') %>
      </li>
      <li>
        Initiatives
      </li>
    </ul>
  <% end %>
</div>
