<div class="message-container">
  <%= render 'messages/index' %>
  <div class="message-nav-bar">
    <div id="title-mail-box">

    </div>
    <div id="nb-message">
      <%= @messages.length %> messages
    </div>
  </div>
  <% if @messages.empty? %>
  <h3>No messages</h3>
  <% else %>
  <% @messages.each do |message| %>

    <div class="message-item read">
    <div class="message-sender">
      <%= cl_image_tag(message.user.photo, {class: "avatar-mail-box"}) %>

    <div class="message-titles">
    <div class="message-user-name">
      <strong><%= message.user.first_name.upcase %> <%= message.user.last_name.upcase %></strong>
    </div>
    <div class="favour-reference">
      In response to: <%= message.favour.content %>
    </div>
    </div>
    </div>
    <div class="message-content hidden">
      <strong> <%=message.user.first_name%> said:</strong> <%= message.help_content %><br> <br>
       <strong>Contact <%=message.user.first_name%>:</strong><br>
       <u>Phone number</u>: <%=message.phone%> <br>
       <u>Email</u>: <%=message.email%>
       </span>
    </div>
    </div>

  <% end %>
  <% end %>
  </div>
