<!--  -->
<!-- display event just created -->

<div class="card pink-card" id="event-<%= postable.id %>">
  <div class="body-card">
    <div class="card-content">
      <span class="post-badge">EVENT</span>
      <p><%= postable.content %></p>
      <%= cl_image_tag(postable.photo , class: 'image-post') %>
    </div><!-- end card-content -->
    <div class="card-top-event">
      <div class="card-top-user">
      <div class="avatar-medium">
        <%= cl_image_tag(postable.user.photo, {class: "avatar-medium"}) %>
      </div>
      <div class="user-name">
          <div class="time time-event">
            <h2><%= postable.user.first_name%></h2>
            <i class="fas fa-circle"></i>
            <p><%= Time.now.utc.hour - postable.created_at.hour %> hrs ago </p>
          </div>
          <div class="distance">
            <%= image_tag("image_after_hour_card.png", alt: "time") %>
            <p>400m away</p>
          </div>
      </div>
      </div>
      <div id="date">
        <p> <% postable.date %></p>
      </div>
      <div class="option-menu">
        <%= image_tag("dropdown_menu_card.png", class: "dropdown-card") %>
      </div>
      <div id="countdown" class="hidden">

      </div>
    </div>
  </div>

  <!-- end card-content -->
  <div class="card-footer">
    <div class="footer-link footer-link-invitation">
      <%= link_to event_reservations_path(postable), method: :post, remote: true do %>
        <div class="neutral">
          <%= image_tag("invited.png", alt: "logo", class: "logo-footer")%> Invited
        </div>
        <div class="accepted hidden">
          <%= image_tag("accepted.png", alt: "logo", class: "logo-footer")%> Going
        </div>
        <div class="decline hidden">
          <%= image_tag("decline.png", alt: "logo", class: "logo-footer")%> Can't go
        </div>
      <% end %>
    </div>
    <div class="footer-link" id="comment-event">
      <%= link_to root_path, class: "comment-button-event" do %>
        <%= image_tag("comment.png", alt: "logo", class: "logo-footer")%> Comment
      <% end %>
    </div>
    <div class="footer-link footer-link-localisation">
      <a href="/" lat="<%= postable.user.latitude %>" lng="<%= postable.user.longitude %>" data-userimage="<%= postable.user.photo %>">
        <%= image_tag("map_icon.svg", alt: "logo", class: "logo-footer-mapzer")%> Location
      </a>
    </div>
  </div>
  <!-- end card-footer -->
  <div class="response-event hidden" id="events-response-<%= postable.id%>">
  <div class="response-display">
    <% if postable.responses.blank? %>

    <% else %>
      <%postable.responses.each do |response_object|%>
      <div class="response-content">
          <div class="avatar-medium">
      <%= cl_image_tag(User.find(response_object.user_id).photo, {class: "avatar-medium"}) %>
    </div>
        <div class="text-comment">
          <h1><strong><%= User.find(response_object.user_id).first_name.capitalize %> </strong></h1>
         <%= render('responses/show', { response: response_object }) %>
        </div>
        <div class="time-response">
          <p> <%= Time.now.utc.hour - response_object.created_at.hour %> hrs </p>
        </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- <div id="new-response"> -->
    <%= render('responses/form', { postable: postable, response: @response }) %>
  <!-- </div> -->
</div>
<!-- end comment method -->
</div>
<!-- end card -->
<!-- comment method -->

<% content_for :after_js do %>
  <script type="text/javascript">
    const pinkCards = document.querySelectorAll(".pink-card");

    pinkCards.forEach((pinkCard) => {
    var countDownDate = new Date("Mar 03, 2019 20:00:00").getTime();

  // Update the count down every 1 second
    var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    // Display the result in the element with id="demo"
    pinkCard.querySelector("#countdown").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      pinkCard.getElementById("countdown").innerHTML = "EXPIRED";
    }
  }, 1000);
});
</script>

<% end %>
