<!--  -->
<!-- display event just created -->

<div class="card pink-card">
  <div class="card-top">
    <div class="avatar-medium">
      <%= cl_image_tag(event.user.photo, {class: "avatar-medium"}) %>
    </div>
    <div class="user-name">
      <h2><%= event.user.first_name %></h2>
      <div class="time time-event">
        <p><%= Time.now.utc.hour - event.created_at.hour %> hrs - </p>
        <%= image_tag("image_after_hour_card", alt: "time", class: "logo") %>
      </div>
    </div>
  </div>
  <div class="option-menu">
      <%= image_tag("dropdown_menu_card", class: "dropdown-card") %>
  </div>
  <!-- end card-top -->
  <h1 class="title pink-title">invites you to his neighbor's event</h1>
  <div class="card-content">
    <p><%=event.content%></p>
  </div>
  <!-- end card-content -->
  <div class="card-footer">
    <div class="footer-link">
      <%= link_to root_path do %>
        <%= image_tag("invited", alt: "logo", class: "logo-footer")%> Respond
      <% end %>
    </div>
    <div class="footer-link">
      <%= link_to root_path do %>
        <%= image_tag("comment", alt: "logo", class: "logo-footer")%> Comment
      <% end %>
    </div>
    <div class="footer-link footer-link-localisation">
      <a href="/" lat="<%= event.user.latitude %>" lng="<%= event.user.longitude %>" data-userimage="<%= event.user.avatar %>">
        <%= image_tag("map_icon", alt: "logo", class: "logo-footer-mapzer")%> Location
      </a>
    </div>
  </div>
  <!-- end card-footer -->
</div>
<!-- end card -->

<script>
</script>
