<div class="container-page">
  <div class="flex-layout">
    <div class="access-layout">
      <%= render "shared/accesslayout" %>
    </div>
      <div class="posts-layout">
        <h1>Wall</h1>
        <%= render 'shared/create_post' %>
        <!-- @posts is passed by the controller -->
        <!-- display all the cards -->
        <% @posts.each do |post| %><!-- call all the posts from all types -->
          <% if post.class == Information %><!-- check if card is type info -->
            <%= render 'informations/show', information: post %><!-- refer to show from info -->
          <% elsif post.class == Event %><!-- check if card is type event -->
            <%= render 'events/show', event: post %><!-- refer to show from event -->
          <% elsif post.class == Favour %><!-- check if card is type favour -->
            <%= render 'favours/show', favour: post %><!-- refer to show from favour -->
          <% end %>
        <% end %>
      </div>
    <div class="map-layout">
      <div
        id="map"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
