<div class="container-page">
  <div class="flex-layout">
    <div class="access-layout">
      <div class="sticky-container">
        <%= render "shared/accesslayout" %>
      </div>
    </div>
      <div class="posts-layout">
        <%= render 'shared/create_post' %>
        <!-- @posts is passed by the controller -->
        <!-- display all the cards -->
        <div id="all_posts">
          <%= render 'shared/full_wall' %>
        </div>
      </div>
      <!-- hidden class toggle for mail box display -->
    <div class="map-layout">
      <div class="sticky-container">
        <div
          id="map"
          data-userimage="<%= current_user.photo %>"
          data-usermarker="<%= @user_marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>
    <div id="mail-box" class="hidden">
      <%= render 'shared/mail_box' %>
    </div>


  </div>
</div>
