<div class="container-page">
  <div class="flex-layout">
    <div class="access-layout">
      <div class="sticky-container">
        <%= render "shared/accesslayout" %>
      </div>
    </div>
      <div class="posts-layout">
        <%= render 'shared/create_post' %>
        <!-- @posts is passed by the controller -->
        <!-- display all the cards -->
        <% @posts.each do |post| %><!-- call all the posts from all types -->

          <!-- check if card is type info -->
          <% if current_user.in?(post.user.nearbys(post.perimeter, units: :km)) || post.user == current_user %>
            <% if post.class == Information %>
              <%= render 'informations/show', postable: post, response: @response %>
              <!-- refer to show from info -->
            <% elsif post.class == Event %><!-- check if card is type event -->
              <%= render 'events/show', postable: post, response: @response %><!-- refer to show from event -->
            <% else post.class == Favour %><!-- check if card is type favour -->
            <%= render 'favours/show', postable: post, response: @response %><!-- refer to show from favour -->
            <% end %>

          <% end %>
        <% end %>
      </div>
    <div class="map-layout">
      <div class="sticky-container">
        <div
          id="map"
          data-userimage="<%= current_user.photo %>"
          data-usermarker="<%= @user_marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>
  </div>
</div>
