<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>hoodi</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag "map" %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body>
<!--     <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div> -->
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
    <%= javascript_pack_tag "comment" %>
    <%= javascript_pack_tag "places" %>
    <%= javascript_pack_tag "message" %>
    <%= javascript_pack_tag "age" %>
    <%= javascript_pack_tag "date" %>
    <%= javascript_pack_tag "cross_button_createpost" %>
    <%= javascript_pack_tag "mail_box" %>
    <%= javascript_pack_tag "message_read" %>

  </body>
</html>
